fastapi
uvicorn
gunicorn; sys_platform == "linux"
langchain
langchain-community
langchain-openai
langchain-google-genai==2.0.4
chromadb
pypdf
python-dotenv
slowapi
reportlab
python-multipart
google-generativeai==0.8.3
google-generativeai==0.8.3
